[submodule "network"]
	path = network
	url = https://github.com/BLOCKOTUS/network.git
[submodule "organs/identity"]
	path = organs/identity
	url = https://github.com/BLOCKOTUS/identity.git
[submodule "organs/job"]
	path = organs/job
	url = https://github.com/BLOCKOTUS/job.git
[submodule "organs/admins"]
	path = organs/admins
	url = https://github.com/BLOCKOTUS/admins.git
[submodule "nerves"]
	path = nerves
	url = https://github.com/BLOCKOTUS/nerves.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/BLOCKOTUS/webapp.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/BLOCKOTUS/scripts.git
[submodule "organs/user"]
	path = organs/user
	url = https://github.com/BLOCKOTUS/user.git
[submodule "organs/helper"]
	path = organs/helper
	url = https://github.com/BLOCKOTUS/helper.git
